
<!-- Main Menu -->
<div class='ui inverted orange menu'>

  <div class='ui container'>

    <!-- Home Item -->
    <a class='item' [routerLink]="['home']" routerLinkActive='active'>
      <i class='icon home'></i>
      Home
    </a>

    <!-- Gift Item -->
    <a class='item' routerLink='gift' routerLinkActive='active'>
      <i class='icon gift'></i>
      Gift List
    </a>

    <!-- Member Item -->
    <a class='item' routerLink='member' routerLinkActive='active'>
      <i class='icon users'></i>
      Member List
    </a>

  </div>

</div>

<!-- Router outlet -->
<div class='ui container'>
  <router-outlet></router-outlet>  
</div>